/* Please note that this file MUST be preprocessed by the @tailwindcss/cli. 
   In order to do this, run the following command in your terminal before deploying:
      pnpx @tailwindcss/cli -i ./style.css -o ./dist/style.css
   If you are developing, you should run this command instead:
      pnpx @tailwindcss/cli -i ./style.css -o ./dist/style.css --watch
*/

@import "tailwindcss";



@font-face {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

@font-face {
  font-family: Fraunces;
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}



@font-face {
  font-family: DM-Sans;
  font-style: normal;
  font-weight: 400 600;
  src: url('../assets/fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf');
}



@font-face {
  font-family: DM-Mono;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/dm-mono/DMMono-Regular.ttf');
}

@font-face {
  font-family: DM-Mono;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/dm-mono/DMMono-Medium.ttf');
}



@theme {
  /* Colors */
  --color-neutral-900: hsl(33, 15%, 15%);
  --color-neutral-800: hsl(33, 22%, 20%);
  --color-neutral-700: hsl(32, 20%, 29%);
  --color-neutral-600: hsl(33, 17%, 41%);
  --color-neutral-400: hsl(36, 22%, 86%);
  --color-neutral-200: hsl(30, 24%, 93%);
  --color-neutral-100: hsl(35, 60%, 96%);
  --color-neutral-50: hsl(40, 60%, 98%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-sun-500: hsl(42, 83%, 58%);
  --color-sun-300: hsl(44, 84%, 75%);
  --color-sun-200: hsl(45, 100%, 74%);
  --color-sun-50: hsl(41, 100%, 93%);

  --color-terracotta-700: hsl(15, 69%, 37%);
  --color-terracotta-600: hsl(15, 74%, 41%);
  --color-terracotta-500: hsl(18, 62%, 47%);
  --color-terracotta-400: hsl(22, 72%, 56%);

  --color-blue-500: hsl(230, 49%, 56%);

  --color-rose-500: hsl(340, 48%, 52%);



  /* Fonts */
  --font-sans: DM-Sans;
  --font-serif: Fraunces;
  --font-mono: DM-Mono;
}